.content {
  padding-top: 60px;
}

.content__title {
  font-size: 60px;
  font-weight: 900;
  line-height: 72px;
  text-align: left;
  margin-bottom: 5px;
}

section .content__text:first-child {
  margin-bottom: 30px;
}

.content__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
