.results__container {
  height: 385px;
  background-color: #f1f1f1;
  border-radius: 10px;
  padding-left: 45px;
  padding-top: 25px;
}

.results__title {
  font-size: 44px;
  font-weight: 700;
  line-height: 52.8px;
  text-align: left;
  margin-bottom: 20px;
}

.results__list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 30px;
}

.results__item {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-bottom: 10px;
}

.results__item:last-child {
  margin-bottom: 0;
}

.results__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
